<!DOCTYPE html>
<html lang="{{@site.locale}}" class="flex flex-col min-h-[100vh] bg-white">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}} group">
<div class="flex flex-col min-h-[100vh] bg-white">

{{> "head"}}

<main class="gh-main flex flex-grow flex-col">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot flex items-center justify-center pt-[8vmin] px-[4vmin]">
    <div class="gh-container w-full max-w-[1200px] mx-auto w-auto">
        <div class="gh-foot-menu flex items-center justify-center">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta my-1 text-center opacity-75 text-sm">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
